{% extends "masters/base.html" %}

{% block content %}

<div class="row justify-content-center">

<div class="col-md-6">

<div class="card shadow">

<div class="card-header bg-primary text-white">
Add {{ title }}
</div>

<div class="card-body">

<form method="post">

{% csrf_token %}

<div class="mb-3">

<label class="form-label">Name</label>

<input type="text"
       name="name"
       class="form-control"
       required>

</div>

<button type="submit" class="btn btn-success">
Save
</button>

<a href="{% url 'masters:master_list' model_name %}"
   class="btn btn-secondary">

Cancel

</a>

</form>

</div>

</div>

</div>

</div>

{% endblock %}